.featuresOne {
    display: flex;
    align-items: center;
    padding: 2rem 0;
    width: 100%;
}

.featuresTwo {
    display: flex;
    align-items: center;
    padding: 4rem 0;
    width: 100%;
    background-color: #f5f6f7; /* Different background colour */
    color: black;
}

.featureSvg {
    height: 200px; /* Keep your desired height */
    width: auto; /* Allow width to adjust based on aspect ratio */
    max-width: 100%; /* Ensure it doesn't overflow its container */
}

.circleImage {
  border-radius: 50%;
  object-fit: cover;
}

.imageContainer {
  position: relative;
  display: inline-block;
}

.linkedinIcon {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: white;
  border-radius: 50%;
  padding: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.contactLinks {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1.5rem;
}

.contactLinks a {
  background-color: #a2a2a3;
  color: white;
  border: none;
  transition: background-color 0.3s;
}

.contactLinks a:hover {
  background-color: #b6b6b6;
}

